In [28]:
import tensorflow as tf
from tensorflow import keras
from matplotlib import pyplot as plt
import pandas as pd
import numpy as np
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix , classification_report

In [2]:
#load data
df = pd.read_csv("bank_churn.csv")

In [4]:
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [5]:
xs = df.drop(columns=['RowNumber', 'CustomerId', 'Surname', 'Exited'])

In [6]:
xs.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,619,France,Female,42,2,0.00,1,1,1,101348.88
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58
2,502,France,Female,42,8,159660.80,3,1,0,113931.57
3,699,France,Female,39,1,0.00,2,0,0,93826.63
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10

In [7]:
ys = df['Exited']

In [8]:
ys.head()

0    1
1    0
2    1
3    0
4    0
Name: Exited, dtype: int64

In [9]:
xs.dtypes

CreditScore          int64
Geography           object
Gender              object
Age                  int64
Tenure               int64
Balance            float64
NumOfProducts        int64
HasCrCard            int64
IsActiveMember       int64
EstimatedSalary    float64
dtype: object

In [11]:
xs.isna().any()

CreditScore        False
Geography          False
Gender             False
Age                False
Tenure             False
Balance            False
NumOfProducts      False
HasCrCard          False
IsActiveMember     False
EstimatedSalary    False
dtype: bool

In [13]:
xs['Geography'].unique()

array(['France', 'Spain', 'Germany'], dtype=object)

In [14]:
#handle categorical data
xs['Gender'].replace({'Male': 1, 'Female': 0}, inplace=True)
xs = pd.get_dummies(data=xs, columns=['Geography'])

In [15]:
xs.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,0,0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0,1
2,502,0,42,8,159660.80,3,1,0,113931.57,1,0,0
3,699,0,39,1,0.00,2,0,0,93826.63,1,0,0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0,1

In [16]:
#feature scaling
cols_to_scale = ['CreditScore', 'Age', 'Balance', 'EstimatedSalary']
scaler = MinMaxScaler()
xs[cols_to_scale] = scaler.fit_transform(xs[cols_to_scale])

In [18]:
x_train, x_test, y_train, y_test = train_test_split(xs, ys, test_size = 0.2, random_state = 0, stratify = ys)

In [19]:
x_train.shape

(8000, 12)

In [23]:
#create a model
model = keras.Sequential([
    keras.layers.Dense(12, input_shape=(12, ), activation='relu'),
    keras.layers.Dense(10, activation='relu'),
    keras.layers.Dense(1, activation='sigmoid')
])

model.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])
model.fit(x_train, y_train, epochs=100)

Epoch 1/100
250/250 [==============================] - 1s 2ms/step - loss: 0.5026 - accuracy: 0.7962
Epoch 2/100
250/250 [==============================] - 0s 2ms/step - loss: 0.4657 - accuracy: 0.7990
Epoch 3/100
250/250 [==============================] - 0s 2ms/step - loss: 0.4504 - accuracy: 0.8056
Epoch 4/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4393 - accuracy: 0.8109
Epoch 5/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4310 - accuracy: 0.8173
Epoch 6/100
250/250 [==============================] - 0s 2ms/step - loss: 0.4246 - accuracy: 0.8177
Epoch 7/100
250/250 [==============================] - 0s 2ms/step - loss: 0.4213 - accuracy: 0.8179
Epoch 8/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4150 - accuracy: 0.8221
Epoch 9/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4128 - accuracy: 0.8230
Epoch 10/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4100 - accuracy: 0.8234
Epoch 11/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4052 - accuracy: 0.8298
Epoch 12/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4016 - accuracy: 0.8298
Epoch 13/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3976 - accuracy: 0.8341
Epoch 14/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3947 - accuracy: 0.8355
Epoch 15/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3925 - accuracy: 0.8381
Epoch 16/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3878 - accuracy: 0.8393
Epoch 17/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3842 - accuracy: 0.8416
Epoch 18/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3826 - accuracy: 0.8411
Epoch 19/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3790 - accuracy: 0.8443
Epoch 20/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3754 - accuracy: 0.8455
Epoch 21/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3719 - accuracy: 0.8476
Epoch 22/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3713 - accuracy: 0.8469
Epoch 23/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3680 - accuracy: 0.8494
Epoch 24/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3666 - accuracy: 0.8495
Epoch 25/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3644 - accuracy: 0.8486
Epoch 26/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3604 - accuracy: 0.8519
Epoch 27/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3598 - accuracy: 0.8524
Epoch 28/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3573 - accuracy: 0.8535
Epoch 29/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3580 - accuracy: 0.8531
Epoch 30/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3565 - accuracy: 0.8534
Epoch 31/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3556 - accuracy: 0.8521
Epoch 32/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3532 - accuracy: 0.8543
Epoch 33/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3514 - accuracy: 0.8579
Epoch 34/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3493 - accuracy: 0.8591
Epoch 35/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3490 - accuracy: 0.8564
Epoch 36/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3482 - accuracy: 0.8569
Epoch 37/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3473 - accuracy: 0.8583
Epoch 38/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3456 - accuracy: 0.8601
Epoch 39/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3452 - accuracy: 0.8565
Epoch 40/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3439 - accuracy: 0.8604
Epoch 41/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3427 - accuracy: 0.8594
Epoch 42/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3405 - accuracy: 0.8625
Epoch 43/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3450 - accuracy: 0.8575
Epoch 44/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3406 - accuracy: 0.8599
Epoch 45/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3394 - accuracy: 0.8591
Epoch 46/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3387 - accuracy: 0.8626
Epoch 47/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3371 - accuracy: 0.8599
Epoch 48/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3382 - accuracy: 0.8602
Epoch 49/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3377 - accuracy: 0.8596
Epoch 50/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3370 - accuracy: 0.8600
Epoch 51/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3388 - accuracy: 0.8618
Epoch 52/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3357 - accuracy: 0.8633
Epoch 53/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3347 - accuracy: 0.8597
Epoch 54/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3363 - accuracy: 0.8637
Epoch 55/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3353 - accuracy: 0.8610
Epoch 56/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3349 - accuracy: 0.8618
Epoch 57/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3334 - accuracy: 0.8618
Epoch 58/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3339 - accuracy: 0.8611
Epoch 59/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3338 - accuracy: 0.8622
Epoch 60/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3338 - accuracy: 0.8625
Epoch 61/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3331 - accuracy: 0.8631
Epoch 62/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3327 - accuracy: 0.8622
Epoch 63/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3331 - accuracy: 0.8635
Epoch 64/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3340 - accuracy: 0.8606
Epoch 65/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3327 - accuracy: 0.8641
Epoch 66/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3326 - accuracy: 0.8619
Epoch 67/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3326 - accuracy: 0.8621
Epoch 68/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3322 - accuracy: 0.8634
Epoch 69/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3326 - accuracy: 0.8621
Epoch 70/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3325 - accuracy: 0.8600
Epoch 71/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3329 - accuracy: 0.8612
Epoch 72/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3325 - accuracy: 0.8615
Epoch 73/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3321 - accuracy: 0.8640
Epoch 74/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3317 - accuracy: 0.8612
Epoch 75/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3304 - accuracy: 0.8624
Epoch 76/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3308 - accuracy: 0.8644
Epoch 77/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3338 - accuracy: 0.8619
Epoch 78/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3329 - accuracy: 0.8622
Epoch 79/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3323 - accuracy: 0.8627
Epoch 80/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3316 - accuracy: 0.8610
Epoch 81/100

250/250 [==============================] - 0s 1ms/step - loss: 0.3329 - accuracy: 0.8614
Epoch 82/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3315 - accuracy: 0.8614
Epoch 83/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3306 - accuracy: 0.8646
Epoch 84/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3323 - accuracy: 0.8609
Epoch 85/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3305 - accuracy: 0.8650
Epoch 86/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3308 - accuracy: 0.8654
Epoch 87/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3302 - accuracy: 0.8648
Epoch 88/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3307 - accuracy: 0.8633
Epoch 89/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3305 - accuracy: 0.8629
Epoch 90/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3296 - accuracy: 0.8648
Epoch 91/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3311 - accuracy: 0.8630
Epoch 92/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3294 - accuracy: 0.8646
Epoch 93/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3305 - accuracy: 0.8627
Epoch 94/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3286 - accuracy: 0.8656
Epoch 95/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3316 - accuracy: 0.8634
Epoch 96/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3291 - accuracy: 0.8626
Epoch 97/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3298 - accuracy: 0.8621
Epoch 98/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3299 - accuracy: 0.8639
Epoch 99/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3301 - accuracy: 0.8640
Epoch 100/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3304 - accuracy: 0.8654

In [24]:
prediction = model.predict(x_test)

63/63 [==============================] - 0s 1ms/step

In [26]:
prediction[:10]

array([[0.1859551 ],
       [0.09093774],
       [0.01135228],
       [0.9334735 ],
       [0.16718948],
       [0.29304245],
       [0.01988906],
       [0.02801394],
       [0.15347894],
       [0.11631803]], dtype=float32)

In [27]:
y_pred = []
for i in prediction:
    y_pred.append(1 if i > 0.5 else 0)
    
y_pred[:10]

[0, 0, 0, 1, 0, 0, 0, 0, 0, 0]

In [30]:
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.87      0.97      0.92      1593
           1       0.78      0.43      0.56       407

    accuracy                           0.86      2000
   macro avg       0.82      0.70      0.74      2000
weighted avg       0.85      0.86      0.84      2000

In [39]:
test_index = 3
print("Customer is likely to:", ("churn" if y_pred[test_index] == 1 else "not churn"), " !")
print("Probability of churn:", prediction[test_index] * 100, "%")

Customer is likely to: churn  !
Probability of churn: [93.34735] %